body {
  width: 80%;
  margin: 10vw auto;
  font-family: "Open Sans", sans-serif;
  color: #23272C;
}

section {
  margin-bottom: 2em;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 10vw;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
}

.code {
  background-color: #F3F4F6;
  padding: 1em 1em 1.2em;
  border-radius: 0.25em;
}

@media screen and (min-width: 40em) {
  body {
    width: 70%;
  }

  .heading {
    font-size: 6vw;
  }

  .subheading {
    font-size: 1.25em;
  }
}
