body, h1, h3 {font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;}
h2, h4, time, .location, .contact, [role="complementary"] {font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica , Arial, sans-serif;}

body { background: #fff; color:#444; font-size: 100%; font-variant-ligatures: common-ligatures; font-weight: 400; line-height:1.4; margin: auto; padding: 2em;  text-align: left;}
h1 {font-size:4em;  margin:.5em 0 0 0; line-height:1; padding-bottom: .2em; font-weight: 700; } 
h2 {font-size:1.3em; line-height:1;  padding:0; margin: 0; color:#999; font-weight: 400; text-transform: uppercase; letter-spacing: .05em;} 
h3 {font-size:1.6em; padding:0; margin:.5em 0 0 0; line-height:1.2; font-weight: 700; }
h4 {font-size:1.2em; padding:0; margin:.3em 0 .5em 0; line-height:1.2; font-weight: 400;}
time, .location {color: #999; display: inline;}

time {  border-right: 1px solid #f1f1f1; margin-right: .5em; padding-right: .5em; }
section {margin-bottom: 2em;}
ul { list-style:none; list-style-image: none; margin: 0; padding: 0; }
li {margin: .6em 0;}
header li {margin: 0; color: #999;}
a:link { color:#DF3651; text-decoration:none; }
a:visited { color: #DF3651; }
a:hover { color: #000; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
[role="complementary"] {font-size: 87.5% /*14px*/; }

@media only screen and (min-width: 45em) {
body {max-width:58.75em /*940px*/;}	
[role="banner"], .wrap {width: 100%;} 
[role="main"] {float: left; width: 66% /*620px*/;}
[role="complementary"] {float: right; width: 32% /*300px*/; }
}
p { margin: 0 0 1em 0;  }
		p + p {text-indent: 1em; margin-top: -1em;  }
        
            p:first-of-type:first-letter {
	font-size: 5.5em;
	padding:.1em .05em 0 0;
	margin:  0;
	float: left;
	line-height: .65;
	font-weight:400;
	color: #F22613;
	
		}
